<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jarthur.timekeeper_droid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.Timekeeper"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.UserLoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Show Activities -->
        <activity
            android:name=".activities.show_activities.ActivityShow"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.show_activities.StoryCardShow"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.show_activities.ProjectShow"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.show_activities.TimesheetShow"
            android:theme="@style/AppTheme" />

        <!-- Edit Activities -->
        <activity
            android:name=".activities.edit_activities.ProjectEdit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.edit_activities.ActivityEdit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.edit_activities.StoryCardEdit"
            android:theme="@style/AppTheme" />

        <!-- List Activities -->
        <!-- TimesheetList is the main acitvity -->
        <activity
            android:name=".activities.list_activities.StoryCardList"
            android:label="@string/title_activity_story_card_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.list_activities.ProjectsList"
            android:label="@string/title_activity_projects_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.list_activities.TimesheetList"
            android:label="@string/title_activity_timesheets_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
